<div class="event-manage">
    <a href="#" click="$parent.editEventForm.bind($parent, value())">
        <text args="$t('Edit Event')"/>
    </a>
    <a href="#" click="$parent.duplicateEvent.bind($parent, value())">
        <text args="$t('Duplicate')"/>
    </a>
    <a href="#" click="$parent.moveEvent.bind($parent, value())">
        <text args="$t('Move to')"/>
    </a>
    <a href="#" click="$parent.deleteEvent.bind($parent, value())">
        <text args="$t('Delete')"/>
    </a>
    <button type="button"
            attr="title: $t('Add Email')"
            click="$parent.createEmailForm.bind($parent, value())"
            class="event-email action-secondary">
        <span translate="'Add Email'"/>
    </button>
</div>
